bsky_handle: "yourbskyhandle.bsky.social"
bsky_password: "your-app-pass-word"
# the maximum number of articles that will be fetched each time the script is run
max_articles_per_feed: 10
# log_level can be one of: DEBUG, INFO, WARNING
log_level: "INFO"
# for sites that have rss feeds. These work more quickly and are less resource intensive to scrape, so use rss if available. Uses feedparser to scrape
rss_feeds:
  abc27local:
    name: "ABC27 Local News"
    url: "https://www.abc27.com/local-news/rss"
    tag: "abc27local"
  abc27weather:
    name: "ABC27 Weather"
    url: "https://www.abc27.com/weather/rss"
    tag: "abc27weather"
# for sites with no rss. Uses newspaper3k to scrape
html_sources:
  cbs21:
    name: "CBS21 News"
    url: "https://local21news.com/news/local"
    tag: "cbs21"
  spotlightpa:
    name: "Spotlight PA"
    url: "https://www.spotlightpa.org/"
    tag: "spotlightpa"
# articles with a 'bad word' in title/desc/url will not be posted unless they also contain a 'good word'
bad_words:
  - "Trump"
  - "Biden"
good_words:
  - "Dauphin"
  - "Franklin Co"
  - "Lancaster"
  - "Harrisburg"
  - "York"
  - "Adams Co"
