atproto==0.0.65
attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.4
docutils==0.22.4
feedparser==6.0.12
filelock==3.20.3
HTMLParser==0.0.2
ipython==9.10.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
newspaper3k==0.2.8
protobuf==3.19.6
pyOpenSSL==25.3.0
PyYAML==6.0.3
redis==7.1.0
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
